{% assign title = site.title %}
{%- if page.title -%}
{% assign title = page.title | append: " | " | append: site.title  %}
{%- endif -%}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="{{ site.base_url | default: "/" }}">
<title>
{{- title -}}
</title>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload" href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=block" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/pygments.css">
<link rel="stylesheet" href="https://kit.fontawesome.com/672d96e063.css" crossorigin="anonymous">
<link rel="alternate" type="application/rss+xml" href="/rss.xml" />
<link rel="alternate" type="application/atom+xml" href="/atom.xml" />
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ title }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:type" content="website">
{%- if site.base_url %}
<meta property="og:url" content="{{site.base_url}}{{ page.link }}">
{%- endif -%}
{%- if page.blurb %}
<meta name="twitter:description" content="{{ page.blurb }}">
<meta property="og:description" content="{{ page.blurb }}">
{%- endif -%}
{%- if page.image or site.image %}
{% assign image = page.image | default: site.image %}
<meta name="twitter:image" content="{{ image }}">
<meta property="og:image" content="{{ image }}">
{% endif -%}
<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
